canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#anim0, #anim1 {
    z-index: 1;
    height: 95vh;
    max-width: 90vw;

    position: absolute;
    left: 5vw;
}

#skip {
    z-index: 2;
    position: absolute;
    left: 5px;
    bottom: 5px;
}